# macOS system files
.DS_Store

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Hydra
outputs/

# Ignore all files in the config/secrets directory
config/secrets/*

# Unignore the default.template.yaml file
!config/secrets/default.template.yaml

# Workspaces
workspaces/
cache/

# Figures
figures/

# Local results
results/

# Aider
aider.txt

# MLE-Bench tasks
config/task/mlebench/**
!config/task/mlebench/default.yaml
!config/task/mlebench/_group_.yaml
workspace_templates/mlebench/**
!workspace_templates/mlebench/base/
!workspace_templates/mlebench/base/*

# submitit
submitit_logs/
